*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}

#aside{
    background-color: rgb(35, 58, 149);
   
    div{
        
        padding: 9px 0;
        font-size: .75rem;
        color: white;
    }
   
}
// header 
#header{
    
    .nav-list li{
        list-style: none;
        margin-left: 15px;
        font-size: 12px;
       
    }
    .header-top a{
        color: black;
    }
    .header-top a:hover{
        color: rgb(43, 190, 249);
    }
    
    .nav-list{
        margin: 7px;
        
    }
    
    .header-top{  
        border-bottom: 1px solid rgb(227, 228, 230);
    }
    .column-right{
        margin-left: 121px;
        padding-left: 30px;
    }
    .column-right span{
        font-size: 12px;
    }
    .text-content{
        margin-left: 18px;
        padding-left: 18px;
        border-left: 1px solid #edeef5;
        font-size: 12px;
        display: flex;
        align-items: center;
    }
    .sub-menu li{
        list-style: none;
        
    }
    .sub-menu{
      
        z-index: 100;
        position: absolute;
        border: 1px solid #edeef5;
        padding: 15px 0;
        top: 25px;
        left: -32px;
        display: none;
        background-color: white;
        
    }
     .eng:hover .sub-menu {
            display: block;
            color: black;
    }
    .usd:hover .sub-menu {
        display: block;
        color: black;    
    }
    
    .eng{
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
    }
    .header-main{
        padding-top: 30px;
    }
    .nav-languege{
        font-size: 12px;
        margin-left: 18px;
        padding-left: 18px;
        border-left: 1px solid #edeef5;
        display: flex;
        align-items: center;
    }
    .menu-lan{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    
    }