*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#aside{
    background-color: rgb(35, 58, 149);
   
    div{
        
        padding: 9px 0;
        font-size: .75rem;
        color: white;
    }
   
}
.nav-list li{
    list-style: none;
    margin-left: 15px;
    font-size: 12px;
   
}
.header-top a{
    color: black;
}
.header-top a:hover{
    color: rgb(43, 190, 249);
}

.nav-list{
    margin: 7px;
    
}

.header-top{  
    border-bottom: 1px solid rgb(227, 228, 230);
}
.column-right{
    margin-left: 121px;
    padding-left: 30px;
}
.column-right span{
    font-size: 12px;
}
.text-content{
    margin-left: 18px;
    padding-left: 18px;
    border-left: 1px solid #edeef5;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.sub-menu li{
    list-style: none;
    
}
.sub-menu{
  
    z-index: 100;
    position: absolute;
    border: 1px solid #edeef5;
    padding: 15px 0;
    top: 25px;
    left: -32px;
    display: none;
    background-color: white;
    
}
 .eng:hover .sub-menu {
        display: block;
        color: black;
}
.usd:hover .sub-menu {
    display: block;
    color: black;    
}

.eng{
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.header-main{
    padding-top: 30px;
}
.nav-languege{
    font-size: 12px;
    margin-left: 18px;
    padding-left: 18px;
    border-left: 1px solid #edeef5;
    display: flex;
    align-items: center;
}
.menu-lan{
padding-left: 0;
margin-bottom: 0;
list-style: none;
display: flex;

}
.usd{
    margin-left: 15px;
    position: relative;
    padding-bottom: 5px;
    
}
a:hover{
text-decoration: none;
}
.sub-menu li{
    padding: 6px 30px;
}

.site-brand img{
    display: block;
    width: 164px;
    height: 44px;
}
.brand-description{
    font-size: 11px;
    opacity: .5;
    color: rgba(92, 86, 86, 0.863);
}
.column-center{
    padding-left: 55px;
    display: flex;
}
.header-location{
    margin-right: 30px;
}
.header-location span{
    font-size: 10px;
    color: rgba(92, 86, 86, 0.863);
}
.current-location{
    width: 143px;
}
.location-icon{
    font-size: 12px;
    position: absolute;
    left: 155px;
    top: 25px;
}
.header-location a{
    border: 1px solid #d9d9e9;
    padding: 9px 18px;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #233a95;
    border-radius: 6px;
}
.header-search{
    position: relative;
}
.header-search i{
    position: absolute;
    left: 480px;
    font-size: 25px;
    top: 20px;
}
.search-input{
    width: 521px;
    height: 58px;
    border-radius: 6px;
    background-color: rgb(243, 244, 247);
    padding: 0 15px;
    border: none;
}
.basket{
    margin-left: 30px;
}

.header-login{
    width: 42px;
    height: 42px;
    border: 1px solid #edeef5;
    border-radius: 100%;
    margin-top: 5px;
}

.button-icon{
position: relative;
}
.icon-user{
position: absolute;
left: 13px;
top: 13px;
}
.header-cart{
    display: flex;
    align-items: center;
    margin-left: 15px;
}
.basket{
    height: 42px;
}
.cart-price{
    margin-right: 15px;
    padding-top: 15px;
}
.cart-price span{
    color: black;
}
.shop-icon{
    height: 40px;
    width: 40px;
    border: 1px solid #edeef5;
    border-radius: 100%;
    margin-top: 10px;
    padding-top: 7px;
    padding-left: 10px;
    color: rgb(234, 43, 15);
    background-color: #fff1ee;
}
.cart-count-icon{
    height: 17px;
    width: 17px;
    background-color: rgb(234, 43, 15);
    color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    position: absolute;
    right: -6px;
    top: 10px;
}
.header-cart a{
    position: relative;
}
.all-categories{
    margin-top: 25px;
    margin-right: 140px;
    width: 213px;
}
.all-link{
    background-color: rgb(43, 190, 249);
    
    height: 50px;
    color: white;
    border-radius: 30px;
}
.all-categories span{
    margin-left: 15px;
}
.menu-menu-2{
margin-bottom: 0;
}
.menu-menu-2 li{
    list-style: none;
    //height: 60px;
}
.list{
    padding: 0 14px;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
}
.site-menu{padding-top: 28px;
}
.menu-menu-2 a:hover{

    background-color: rgb(243, 244, 247);
    color: rgb(43, 190, 249);
    border-radius: 30px;
}
.menu-menu-2 li {
padding-bottom: 20px;

}
.home{
    position: relative;
}
.home .sub-menu a{
    padding: 6px 34px;
    font-size: 13px;
    background-color:white;
}
.home .sub-menu li{
    width: 198px;
    height: 32px;
    padding: 0;
}

.home .sub-menu{
    top: 60px;
    padding: 30px 0;
    
}
.home:hover .sub-menu {
    display: block;
}


.nav-icon{
    margin-left: 15px;
}

.shop .sub-menu{
    top: 255px;
    width: 1952px;
    height: 270px;
    padding: 0 391px;
}
.shop-menu{
    display: none;
}
.shop:hover .shop-menu{
    display: block;
    display: flex;
}
.sub-menu-lists{
    padding-top: 8px;
    padding-bottom: 30px;
}

.sub-menu-lists li{
    padding: 0;
    height: 32px;
    
}
.shop li a{
    color: #3e445a;
    font-size: 13px;
}
.shop-title{
    color: #233a95;
    font-size: 15px;
}
.shop li a:hover{
background-color: white;
color: rgb(43, 190, 249);
}
.text{
    padding: 6px 34px;
    padding-left: 0;
}
.slider{
    width: 1903px;
    height: 575px;
    background-color: aquamarine;
}


.category {
    width: 216px;
     height: 147px;
    padding: 20px;
    border:1px solid rgb(227, 228, 230);
}

.frist-category{
    padding: 20px;
    border:1px solid rgb(227, 228, 230);
}
.categories-wrapper img{
    height: 70px;
    width: 70px;
}
.category a{
    font-size: .875rem;
    color: #202435;
}
.category-count{
    font-size: .75rem;
}
.categories-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.entry-category{
     line-height: 0.6;
}
.entry-category a{
    width: auto;
    height: auto;
}
.frist-category .category-detail{
    .category-count{
        margin-left: 70px;
    }
    h3{
        font-size: 14px;
        display: flex;
        justify-content: center;
        a{
            color: #202435;
        }
    }
}
#main{
    margin-top: 25px;
    margin-bottom: 10px;
}
.counter-product{
    padding: 15px 0;
}
.pdroduct{
    border: 2px solid red;
    width: 390px;
    border-radius: 7px;
}
.deals-header{
   
    padding: 30px;
    padding-bottom: 0;
}
.count-item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
    color: white;
    background-color: rgb(237, 23, 74);
    border-radius: 5px;
}
.countdown span{
margin: 0 4px;
}
.deals-counter-text{
    font-size: 12px;
    color: rgb(194, 194, 211);
    margin-top: 15px;
}
.thumbnail-wrapper{
    padding: 20px;
}
.thumbnail-wrapper div{
    height: 70px;
    width: 70px;
    background-color: rgb(237, 23, 74);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
}
.thumbnail-wrapper img{
    width: 350px;
}
.content-wrapper{
    padding: 30px;
    padding-top: 0;
}
.amount{
    color: rgb(194, 194, 211);
    font-size: 21px;
}
.price-amount{
    font-size: 24px;
    color: rgb(213, 18, 67);
    font-weight: 500;
}
.product-title a{
font-size: 18px;
}
a{
    color: #202435;
}
.product-title{
margin-bottom: 10px;
}
.product-unit{
    color: rgb(155, 155, 180);
    font-size: 11px;
}
.product-available{
    color: #00b853;
    font-size: 11px;
    margin-left: 10px;
    font-weight: 600;
}
.product-meta{
    margin-bottom: 10px;
}
.star-rating i{
font-size: 11px;
color: rgb(247, 223, 92);
}
.product-pcs{
    margin-bottom: 10px;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    justify-content: end;
    color: rgb(194, 194, 211);
    span{
        color: black;
        font-weight: 600;
        padding-left: 3px;
    }
}

.progress{
    width: 89%;
    height: 10px;
    background: linear-gradient(90deg, #d51243 0%, #ff6048 50%, #ffcd00 100%);
}
.product-progress{
    width: 100%;
    border-radius: 5px;
    background-color: #d9e7e096;
}
.element-wrapper{
    padding: 15px;
    padding-right: 0;
}
.thumbnail-item{
    padding: 20px;
    
    position: relative;
}
.onsale{
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    background-color: rgb(43, 190, 249);
}
.recommend{
    padding: 6px 12px;
    background-color: rgb(113, 119, 142);
    color: white;
    border-radius: 5px;
    line-height: 4;
    font-size: 10px;
    font-weight: 700;
}
.organic{
    padding: 6px 12px;
    background-color: rgb(229, 248, 237);
    color: rgb(3, 142, 66);
    border-radius: 15px;
    line-height: 4;
    font-size: 10px;
    font-weight: 700;
}
.product-item{
    border:1px solid rgb(227, 228, 230);
    width: 240px;
}
.thumbnail-item img{
    height: 187px;
    z-index: 10;
    width: 209px;
}
.product-badges{position: absolute;

}

.img-1{
    padding: 8px;
}
.content-item{
    padding: 20px;
    padding-top: 0;
    
}
.content-item a{

    font-size: 14px;
}
.content-item h3{
line-height: 0.8;
}
.element-wrapper{
    display: flex;
    flex-wrap: wrap;
}


.element-papulated{
    padding: 15px
}
.banner-content{
    padding: 30px 40px;
    position: absolute;
}
.content-header{
    margin-bottom: 10PX;
}
.content-header div{
    color: rgb(255, 96, 72);
    font-size: 16px;
    letter-spacing: -0.1px
}
.content-main h3{
    font-size: 24px;
    margin-bottom: 8px;
    color: rgb(62, 68, 90);
    font-weight: 650;
}
.entry-text{
    font-size: 12px;
    font-weight: 400px;
}
.button-shop{
    background-color: rgb(35, 58, 149);
    color: white;
    padding: 10px 22px;
    margin-top: 20px;
    border-radius: 1.875rem;
}
.banner-thumbnail img{
    border-radius: 6px;
}
.heart-icon{
    position: absolute;
    right: 10px;
}
// .heart-icon i{
//     font-size: 24px;
//     background-color: white;
//     color: #202435;
//     margin-bottom: 10px;
// }
.hover-icon li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 38px;
    font-size: 16px;
    border-radius: 100%;
    border: 1px solid #edeef5;
    margin-bottom: 8px;
    opacity: 0;
    
}
.product-btn{
position: absolute;
left: -1px;
right: 0;
padding: 7px 1.25rem;
z-index: 100;
border: 1px solid #9999a5;
border-top: none;
background-color: white;
width: 240px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
display: none;
 }

 .product-btn-group a{
    width: 100%;
    font-size: .75rem;
    height: 2.125rem;
    border-radius: 1.875rem !important;
    color: #fff;
    background-color: #233a95;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.product-wrapper:hover .product-btn {
    display: block;  
}


.product-item:hover{
    border: 1px solid #9999a5;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: none;
}


.product-wrapper:hover .hover-icon li {
    
    opacity: 1;
    animation-name: wraper;
    animation-duration: 0.3s;
    &:hover {
        i{
            color: white;
        }
         background-color: #233a95;
    }
    @keyframes wraper {
        from{
        margin-right: -8px;
    
        }
        to{
            margin-right: 0px;
        }

    }
  
   
}

// .product-item:hover{
//     animation-name: heart;
//     @keyframes heart {
//         0%{
            
//         }
//         100%{
           
//         }
//     }
// }
.element-populated{
padding: 15px;
}
.module-header{
    margin-bottom: 30px;
}
.entry-description{
    color: rgb(155, 155, 180);
    line-height: 0.4;
    font-size: .75rem;
}
.button-view{
    color: rgb(217, 217, 233);
    padding: 6px 20px;
    border: 1px solid rgb(217, 217, 233);
    border-radius: 1.875rem;
  
}
.module-header{
    display: flex;
    justify-content: space-between;
}
.add-cart-btn{
    padding: 7px 70px;
    border-radius: 1.875rem;
    color: #202435;
    background-color: rgb(255, 205, 0);
}
.product-button{
    margin-bottom: 30px;
    margin-left: 10px;
}
section{
    margin: 10px 0;
}
.simple-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    background-color: rgb(251, 234, 207);
    border-radius: 6px;
    
}
.simple-text a{
    padding: 20px 15px;
    letter-spacing: 4px;
    font-size: 16px;
    color: black;
    font-weight: 700;
}
.products-column-5{
    display: flex;
    flex-wrap: wrap;
}
.products-column-5 .product-item{
    width: 228px;
}
.entry-category a{
    color: rgb(155, 155, 180);
    font-size: 13px;
}
.entry-title a{
    color: rgb(32, 36, 53);
    font-size: 20px;
    font-weight: 650;
    line-height: 0.1;
}
.entry-title{
    margin-bottom: 8px;
    line-height: 0.7;
}
.meta-separator{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(113, 119, 142);
    
}
.meta-separator span{
    font-size: 14px;
    font-weight: 600;
}
.meta-item a{
    color: rgb(113, 119, 142);
    font-size: 14px;
    margin-right: 10px;
}
.entry-comments a{
    color: rgb(32, 36, 53);
    font-weight: 500;
    margin-right: 10px;
}
#footer{
    margin-top: 115px;
}
.footer-subscribe{
    background-color: rgb(35, 58, 149)
}
.subscribe-content{
    padding: 70px 0;
}
.subscribe-content h6{
    color: #e4e5ee;
    font-weight: 300;
}
.entry-teaser p{
    color: #e4e5ee;
    opacity: .5;
}
.entry-teaser{
    margin-bottom: 30px;
}
.subscripe-input{
    width: 468px;
    height: 63px;
    padding-left: 50px;
    padding-right: 15px;
    border-radius: 6px;
    outline: none;
    border: none;
}
.form-fields i{
    position: absolute;
    top: 24px;
    left: 20px;
}
.subscribe-submit{
    position: absolute;
    right: -18px;
    top: 5px;
    padding: 0 20px;
    width: 102px;
    height: 54px;
    background-color: rgb(35, 58, 149);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 500;
}
.subscribe-image{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
body{
    height: 6500px;
}
.footer-iconboxes{
    padding: 35px 0;
    background-color: rgb(247, 248, 253)
}
.iconbox-icon i {
    font-size: 22px;
}
.iconbox-detail{
    font-size: 16px;
    font-weight: 400;
}
.border-left{
    border-left: 1px solid #edeef5;
}
.border-top{
    border-top: 1px solid #edeef5;
}
.truck{
    margin-right: 14px;
    i{
        
    font-size: 14px;
    margin-right: 14px;
    }
}
.footer-widgets{
    background-color: rgb(247, 248, 253)
}
.footer-widgets .container{
    padding: 100px 15px;
}
.widget-nav-menu{
    margin-bottom: 30px;
}
.widget-title{
    font-size: .9375rem;
    color: #202435;
    font-weight: 600;
    margin-bottom: 20px;
}
.menu li{
    list-style: none;
    margin-top: 6px;
   a{
    color: rgb(113, 119, 142);
    list-style: none;
    font-size: 13px;
   }
}
.col{
    margin-right: 70px;
}
.footer-contact{
    padding: 46px 0;
}
.phone-detail span{
    font-size: .6875rem;
    color: rgb(113, 119, 142);
    font-weight: 500;
    opacity: .5;
}
.app-content h6{
    margin-bottom: 0;
    font-size: .875rem;
    font-weight: 600;
    padding-left: 20px;
}
.app-content span{
    color: rgb(113, 119, 142);
    font-weight: 400;
    opacity: .5;
    font-size: 12px;
}
li{
    list-style: none;
}

.site-social{
    margin-left: 20px;
}
.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgb(217, 217, 233);
    border-radius: 100%;
}
.call{
    width: 45%;
}
.social{
    width: 55%;
}
.footer-button .container{
    padding: 30px 15px;
}
.site-copyright p{
    color: rgb(155, 155, 180);
    font-size: 12px;
    margin-top: 7px;
}
.footer-site-menu {
    margin-left: 60px;
    a{
    color: #9b9bb4;
    font-size: 12px;
    font-weight: 400;
    }
    li{
        margin-left: 10px;
    }
}
.select-location-wrapper{
    padding: 30px;
}
.search-location{
    margin-top: 20px;
}
.entry-descriptionn{
    font-size: .75rem;
    opacity: .7;
    color: rgb(32, 36, 53);
}
.select-search{
    position: relative;
    input{
    padding-left: 46px;
    padding-right: 15px;
    border: none;
    width: 360px;
    height: 48px;
    background-color: rgb(243, 244, 247);
    border-radius: 5px;
    }
    i{
    position: absolute;
    left: 13px;
    top: 3px;
    font-size: 20px;
    }
}
.close-popup i{
    position: absolute;
    right: -12px;
    top: -49px;
    font-size: 20px;
    cursor: pointer;
}
.select-location-wrapper{
    width: 420px;
    height: 523px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 70px;
    
}
.elect-results{
    margin-top: 20px;
}
.select-list{
    
    
    width: 360px;
    height: 330px;
    overflow: auto;

    li{
    padding: 12px 6px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    }
    }

.location{
    color: rgb(32, 36, 53);
    font-size: 14px;
    font-weight: 500;
}
.min-price{
    padding: 3px 10px;
    margin-right: 10px;
    border-radius: 1.875rem;
    border: 1px solid #e2e2ec;
    color: #9b9bb4;
    font-size: 10px;
    font-weight: 500;
}

.select-location-active{
   
    display: none;
    
}
.menu-sidebar{
    background-color: white;
    padding: 18px 0;
    margin-bottom: 0;
    li{
        height: 42px;
        a{
            &:hover{
                color: rgb(43, 190, 249);
            }
            padding: 7px 25px;
            font-size: 13px;
        }
    }
}
.beveregas{
    margin-left: 100px;
}
.dropdown-categories{
    position: absolute;
    width: 260px;
    top: 62px;
    
}
.list-icon{
    margin-right: 15px;
}

.fruist .menu-sidebar{
    position: absolute;
    right: -260px;
    top: -18px;
    width: 260px;
}
.categories-sub-menu{
    display: none;
    height: 530px;
    a{
        padding: 7px 30px;
        
    }
}
.fruist:hover .categories-sub-menu {
    display: block;
}
.beverages:hover .categories-sub-menu{
    display: block;
}
.fruist li{
    height: 33px;
}
.beverages ul{
    li{
        height: 33px;
    }
    position: absolute;
    right: -258px;
    top: -1px;
    width: 260px;
}
.hidden{
    display: none;
}