* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#aside {
  background-color: #233a95;
}

#aside div {
  padding: 9px 0;
  font-size: .75rem;
  color: white;
}

.nav-list li {
  list-style: none;
  margin-left: 15px;
  font-size: 12px;
}

.header-top a {
  color: black;
}

.header-top a:hover {
  color: #2bbef9;
}

.nav-list {
  margin: 7px;
}

.header-top {
  border-bottom: 1px solid #e3e4e6;
}

.column-right {
  margin-left: 121px;
  padding-left: 30px;
}

.column-right span {
  font-size: 12px;
}

.text-content {
  margin-left: 18px;
  padding-left: 18px;
  border-left: 1px solid #edeef5;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-menu li {
  list-style: none;
}

.sub-menu {
  z-index: 1;
  position: absolute;
  border: 1px solid #edeef5;
  padding: 15px 0;
  top: 25px;
  left: -32px;
  display: none;
}

.eng a:hover .sub-menu {
  background-color: #233a95;
}

.eng {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main {
  padding-top: 30px;
}

.nav-languege {
  font-size: 12px;
  margin-left: 18px;
  padding-left: 18px;
  border-left: 1px solid #edeef5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-lan {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.usd {
  margin-left: 15px;
  position: relative;
}

a:hover {
  text-decoration: none;
}

.sub-menu li {
  padding: 6px 30px;
}

.site-brand img {
  display: block;
  width: 164px;
  height: 44px;
}

.brand-description {
  font-size: 11px;
  opacity: .5;
  color: rgba(92, 86, 86, 0.863);
}

.column-center {
  padding-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-location {
  margin-right: 30px;
}

.header-location span {
  font-size: 10px;
  color: rgba(92, 86, 86, 0.863);
}

.current-location {
  width: 143px;
}

.location-icon {
  font-size: 12px;
  position: absolute;
  left: 155px;
  top: 25px;
}

.header-location a {
  border: 1px solid #d9d9e9;
  padding: 9px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #233a95;
  border-radius: 6px;
}

.header-search {
  position: relative;
}

.header-search i {
  position: absolute;
  left: 480px;
  font-size: 25px;
  top: 20px;
}

.search-input {
  width: 521px;
  height: 58px;
  border-radius: 6px;
  background-color: #f3f4f7;
  padding: 0 15px;
  border: none;
}

.basket {
  margin-left: 30px;
}

.header-login {
  width: 42px;
  height: 42px;
  border: 1px solid #edeef5;
  border-radius: 100%;
  margin-top: 5px;
}

.button-icon {
  position: relative;
}

.icon-user {
  position: absolute;
  left: 13px;
  top: 13px;
}

.header-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.basket {
  height: 42px;
}

.cart-price {
  margin-right: 15px;
  padding-top: 15px;
}

.cart-price span {
  color: black;
}

.shop-icon {
  height: 40px;
  width: 40px;
  border: 1px solid #edeef5;
  border-radius: 100%;
  margin-top: 10px;
  padding-top: 7px;
  padding-left: 10px;
  color: #ea2b0f;
  background-color: #fff1ee;
}

.cart-count-icon {
  height: 17px;
  width: 17px;
  background-color: #ea2b0f;
  color: white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  position: absolute;
  right: -6px;
  top: 10px;
}

.header-cart a {
  position: relative;
}

.all-categories {
  margin-top: 25px;
  margin-right: 140px;
  width: 213px;
}

.all-categories a {
  background-color: #2bbef9;
  height: 50px;
  color: white;
  border-radius: 30px;
}

.all-categories span {
  margin-left: 15px;
}

.menu-menu-2 {
  margin-bottom: 0;
}

.menu-menu-2 li {
  list-style: none;
}

.list {
  padding: 0 14px;
  color: black;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-menu {
  padding-top: 28px;
}

.menu-menu-2 a:hover {
  background-color: #f3f4f7;
  color: #2bbef9;
  border-radius: 30px;
}

.menu-menu-2 li {
  padding-bottom: 20px;
}

.home {
  position: relative;
}

.home .sub-menu a {
  padding: 6px 34px;
  font-size: 13px;
  background-color: white;
}

.home .sub-menu li {
  width: 198px;
  height: 32px;
  padding: 0;
}

.home .sub-menu {
  top: 60px;
  padding: 30px 0;
  display: none;
}

.nav-icon {
  margin-left: 15px;
}

.shop .sub-menu {
  top: 255px;
  width: 1952px;
  height: 270px;
  padding: 0 391px;
}

.shop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.sub-menu-lists {
  padding-top: 8px;
  padding-bottom: 30px;
}

.sub-menu-lists li {
  padding: 0;
  height: 32px;
}

.shop li a {
  color: #3e445a;
  font-size: 13px;
}

.shop-title {
  color: #233a95;
  font-size: 15px;
}

.shop li a:hover {
  background-color: white;
  color: #2bbef9;
}

.text {
  padding: 6px 34px;
  padding-left: 0;
}

.slider {
  width: 1903px;
  height: 575px;
  background-color: aquamarine;
}

body {
  height: 1600px;
}

.category {
  width: 216px;
  height: 147px;
  padding: 20px;
  border: 1px solid #e3e4e6;
}

.frist-category {
  padding: 20px;
  border: 1px solid #e3e4e6;
}

.categories-wrapper img {
  height: 70px;
  width: 70px;
}

.category a {
  font-size: .875rem;
  color: #202435;
}

.category-count {
  font-size: .75rem;
}

.categories-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.entry-category {
  line-height: 0.6;
}

.entry-category a {
  width: auto;
  height: auto;
}

.frist-category .category-detail .category-count {
  margin-left: 70px;
}

.frist-category .category-detail h3 {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frist-category .category-detail h3 a {
  color: #202435;
}

#main {
  margin-top: 25px;
  margin-bottom: 10px;
}

.counter-product {
  padding: 15px 0;
}

.pdroduct {
  border: 2px solid red;
  width: 390px;
}

.deals-header {
  padding: 30px;
  padding-bottom: 0;
}

.count-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  width: 48px;
  color: white;
  background-color: #ed174a;
  border-radius: 5px;
}

.countdown span {
  margin: 0 4px;
}

.deals-counter-text {
  font-size: 12px;
  color: #c2c2d3;
  margin-top: 15px;
}

.thumbnail-wrapper {
  padding: 20px;
}

.thumbnail-wrapper div {
  height: 70px;
  width: 70px;
  background-color: #ed174a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 1.875rem;
  left: 1.875rem;
}

.thumbnail-wrapper img {
  width: 350px;
}
/*# sourceMappingURL=main.css.map */