* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

#aside {
  background-color: #233a95;
}

#aside div {
  padding: 9px 0;
  font-size: .75rem;
  color: white;
}

#header .nav-list li {
  list-style: none;
  margin-left: 15px;
  font-size: 12px;
}

#header .header-top a {
  color: black;
}

#header .header-top a:hover {
  color: #2bbef9;
}

#header .nav-list {
  margin: 7px;
}

#header .header-top {
  border-bottom: 1px solid #e3e4e6;
}

#header .column-right {
  margin-left: 121px;
  padding-left: 30px;
}

#header .column-right span {
  font-size: 12px;
}

#header .text-content {
  margin-left: 18px;
  padding-left: 18px;
  border-left: 1px solid #edeef5;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .sub-menu li {
  list-style: none;
}

#header .sub-menu {
  z-index: 100;
  position: absolute;
  border: 1px solid #edeef5;
  padding: 15px 0;
  top: 25px;
  left: -32px;
  display: none;
  background-color: white;
}

#header .eng:hover .sub-menu {
  display: block;
  color: black;
}

#header .usd:hover .sub-menu {
  display: block;
  color: black;
}

#header .eng {
  position: relative;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

#header .header-main {
  padding-top: 30px;
}

#header .nav-languege {
  font-size: 12px;
  margin-left: 18px;
  padding-left: 18px;
  border-left: 1px solid #edeef5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .menu-lan {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .usd {
  margin-left: 15px;
  position: relative;
  padding-bottom: 5px;
}

#header a:hover {
  text-decoration: none;
}

#header .sub-menu li {
  padding: 6px 30px;
}

#header .site-brand img {
  display: block;
  width: 164px;
  height: 44px;
}

#header .brand-description {
  font-size: 11px;
  opacity: .5;
  color: rgba(92, 86, 86, 0.863);
}

#header .column-center {
  padding-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .header-location {
  margin-right: 30px;
}

#header .header-location span {
  font-size: 10px;
  color: rgba(92, 86, 86, 0.863);
}

#header .current-location {
  width: 143px;
}

#header .location-icon {
  font-size: 12px;
  position: absolute;
  left: 155px;
  top: 25px;
}

#header .header-location a {
  border: 1px solid #d9d9e9;
  padding: 9px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #233a95;
  border-radius: 6px;
}

#header .header-search {
  position: relative;
}

#header .header-search i {
  position: absolute;
  left: 480px;
  font-size: 25px;
  top: 20px;
}

#header .search-input {
  width: 521px;
  height: 58px;
  border-radius: 6px;
  background-color: #f3f4f7;
  padding: 0 15px;
  border: none;
  outline: none;
}

#header .basket {
  margin-left: 30px;
}

#header .header-login {
  width: 42px;
  height: 42px;
  border: 1px solid #edeef5;
  border-radius: 100%;
  margin-top: 5px;
}

#header .button-icon {
  position: relative;
}

#header .icon-user {
  position: absolute;
  left: 13px;
  top: 13px;
}

#header .header-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

#header .basket {
  height: 42px;
}

#header .cart-price {
  margin-right: 15px;
  padding-top: 15px;
}

#header .cart-price span {
  color: black;
}

#header .shop-icon {
  height: 40px;
  width: 40px;
  border: 1px solid #edeef5;
  border-radius: 100%;
  margin-top: 10px;
  padding-top: 7px;
  padding-left: 10px;
  color: #ea2b0f;
  background-color: #fff1ee;
}

#header .cart-count-icon {
  height: 17px;
  width: 17px;
  background-color: #ea2b0f;
  color: white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  position: absolute;
  right: -6px;
  top: 10px;
}

#header .header-cart a {
  position: relative;
}

#header .all-categories {
  margin-top: 25px;
  margin-right: 140px;
  width: 213px;
}

#header .all-link {
  background-color: #2bbef9;
  height: 50px;
  color: white;
  border-radius: 30px;
}

#header .all-categories span {
  margin-left: 15px;
}

#header .menu-menu-2 {
  margin-bottom: 0;
}

#header .menu-menu-2 li {
  list-style: none;
}

#header .list {
  padding: 0 14px;
  color: black;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .site-menu {
  padding-top: 28px;
}

#header .menu-menu-2 a:hover {
  background-color: #f3f4f7;
  color: #2bbef9;
  border-radius: 30px;
}

#header .menu-menu-2 li {
  padding-bottom: 20px;
}

#header .home {
  position: relative;
}

#header .home .sub-menu a {
  padding: 6px 34px;
  font-size: 13px;
  background-color: white;
}

#header .home .sub-menu li {
  width: 198px;
  height: 32px;
  padding: 0;
}

#header .home .sub-menu {
  top: 60px;
  padding: 30px 0;
}

#header .home:hover .sub-menu {
  display: block;
}

#header .nav-icon {
  margin-left: 15px;
}

#header .shop .sub-menu {
  top: 255px;
  width: 1952px;
  height: 270px;
  padding: 0 391px;
}

#header .shop-menu {
  display: none;
}

#header .shop:hover .shop-menu {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .sub-menu-lists {
  padding-top: 8px;
  padding-bottom: 30px;
}

#header .sub-menu-lists li {
  padding: 0;
  height: 32px;
}

#header .shop li a {
  color: #3e445a;
  font-size: 13px;
}

#header .shop-title {
  color: #233a95;
  font-size: 15px;
}

#header .shop li a:hover {
  background-color: white;
  color: #2bbef9;
}

#header .text {
  padding: 6px 34px;
  padding-left: 0;
}

.header-nav {
  border-bottom: 1px solid #e2e2ec;
}

li a {
  color: #202435;
}

.select-location-wrapper {
  padding: 30px;
  z-index: 100;
}

.search-location {
  margin-top: 20px;
}

.entry-descriptionn {
  font-size: .75rem;
  opacity: .7;
  color: #202435;
}

.select-search {
  position: relative;
}

.select-search input {
  padding-left: 46px;
  padding-right: 15px;
  border: none;
  width: 360px;
  height: 48px;
  background-color: #f3f4f7;
  border-radius: 5px;
  outline: none;
}

.select-search i {
  position: absolute;
  left: 13px;
  top: 3px;
  font-size: 20px;
}

.close-popup i {
  position: absolute;
  right: -12px;
  top: -49px;
  font-size: 20px;
  cursor: pointer;
}

.select-location-wrapper {
  width: 420px;
  height: 523px;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 70px;
}

.elect-results {
  margin-top: 20px;
}

.select-list {
  width: 360px;
  height: 330px;
  overflow: auto;
}

.select-list li {
  padding: 12px 6px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location {
  color: #202435;
  font-size: 14px;
  font-weight: 500;
}

.min-price {
  padding: 3px 10px;
  margin-right: 10px;
  border-radius: 1.875rem;
  border: 1px solid #e2e2ec;
  color: #9b9bb4;
  font-size: 10px;
  font-weight: 500;
}

.select-location-active {
  display: none;
}

.menu-sidebar {
  background-color: white;
  padding: 18px 0;
  margin-bottom: 0;
}

.menu-sidebar li {
  height: 42px;
}

.menu-sidebar li a {
  padding: 7px 25px;
  font-size: 13px;
}

.menu-sidebar li a:hover {
  color: #2bbef9;
}

.beveregas {
  margin-left: 100px;
}

.dropdown-categories {
  position: absolute;
  width: 260px;
  top: 62px;
  z-index: 100;
}

.dropdown-categories .list-icon {
  margin-right: 15px;
}

.dropdown-categories .fruist .menu-sidebar {
  position: absolute;
  right: -260px;
  top: -18px;
  width: 260px;
}

.dropdown-categories .categories-sub-menu {
  display: none;
  height: 530px;
}

.dropdown-categories .categories-sub-menu a {
  padding: 7px 30px;
}

.dropdown-categories .fruist:hover .categories-sub-menu {
  display: block;
}

.dropdown-categories .beverages:hover .categories-sub-menu {
  display: block;
}

.dropdown-categories .fruist li {
  height: 33px;
}

.dropdown-categories .beverages ul {
  position: absolute;
  right: -258px;
  top: -1px;
  width: 260px;
}

.dropdown-categories .beverages ul li {
  height: 33px;
}

.dropdown-categories .hidden {
  display: none;
}

#footer {
  margin-top: 115px;
}

.footer-subscribe {
  background-color: #233a95;
}

.subscribe-content {
  padding: 70px 0;
}

.subscribe-content h6 {
  color: #e4e5ee;
  font-weight: 300;
}

.entry-teaser p {
  color: #e4e5ee;
  opacity: .5;
}

.entry-teaser {
  margin-bottom: 30px;
}

.subscripe-input {
  width: 468px;
  height: 63px;
  padding-left: 50px;
  padding-right: 15px;
  border-radius: 6px;
  outline: none;
  border: none;
}

.form-fields i {
  position: absolute;
  top: 24px;
  left: 20px;
}

.subscribe-submit {
  position: absolute;
  right: -18px;
  top: 5px;
  padding: 0 20px;
  width: 102px;
  height: 54px;
  background-color: #233a95;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
}

.subscribe-image {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-iconboxes {
  padding: 35px 0;
  background-color: #f7f8fd;
}

.iconbox-icon i {
  font-size: 22px;
}

.iconbox-detail {
  font-size: 16px;
  font-weight: 400;
}

.border-left {
  border-left: 1px solid #edeef5;
}

.border-top {
  border-top: 1px solid #edeef5;
}

.truck {
  margin-right: 14px;
}

.truck i {
  font-size: 14px;
  margin-right: 14px;
}

.footer-widgets {
  background-color: #f7f8fd;
}

.footer-widgets .container {
  padding: 100px 15px;
}

.widget-nav-menu {
  margin-bottom: 30px;
}

.widget-title {
  font-size: .9375rem;
  color: #202435;
  font-weight: 600;
  margin-bottom: 20px;
}

.menu li {
  list-style: none;
  margin-top: 6px;
}

.menu li a {
  color: #71778e;
  list-style: none;
  font-size: 13px;
}

.col {
  margin-right: 70px;
}

.footer-contact {
  padding: 46px 0;
}

.phone-detail span {
  font-size: .6875rem;
  color: #71778e;
  font-weight: 500;
  opacity: .5;
}

.app-content h6 {
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 600;
  padding-left: 20px;
}

.app-content span {
  color: #71778e;
  font-weight: 400;
  opacity: .5;
  font-size: 12px;
}

li {
  list-style: none;
}

.site-social {
  margin-left: 20px;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid #d9d9e9;
  border-radius: 100%;
}

.call {
  width: 45%;
}

.social {
  width: 55%;
}

.footer-button .container {
  padding: 30px 15px;
}

.site-copyright p {
  color: #9b9bb4;
  font-size: 12px;
  margin-top: 7px;
}

.footer-site-menu {
  margin-left: 60px;
}

.footer-site-menu a {
  color: #9b9bb4;
  font-size: 12px;
  font-weight: 400;
}

.footer-site-menu li {
  margin-left: 10px;
}

#section .basket {
  margin-top: 40px;
}

#section .basket form {
  width: 820px;
}

#section .basket form th {
  padding: 12px;
}

#section .basket form .product-thumbnail {
  width: 85px;
}

#section .basket form .product-name {
  width: 350px;
}

#section .basket form .product-price {
  width: 90px;
}

#section .basket form .product-quantity {
  width: 120px;
}

#section .basket form .product-subtotal {
  width: 70px;
}

#section .basket form tbody tr {
  padding: 12px;
}

#section .basket form tbody td {
  padding: 12px;
}

#section .basket form .image {
  height: 70px;
  width: 70px;
}
/*# sourceMappingURL=basket.css.map */