#section{
.basket{
    margin-top: 40px;
    form{
        width: 820px;

        th{
            padding: 12px;
        }
        .product-thumbnail{
            width: 85px;
        }
        .product-name{
            width: 350px;
        }
        .product-price{
            width: 60px;
        }
        .product-quantity{
            width: 120px;
        }
        .product-subtotal{
            width: 70px;
        }



    }
}




}